.App {
  text-align: center;
  background: linear-gradient(to bottom, #8f8c8c, #f10c0c);
  min-height: 100vh;
}

.main-content {
  margin-bottom: 60px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}


body::-webkit-scrollbar-horizontal {
  height: 0.5em;
}

body::-webkit-scrollbar-thumb-horizontal {
  background-color: #888;
  border-radius: 4px;
}
