@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');


.exerciseHeader {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;  
}


.smooth-image {
  border: none;
  border-radius: 5px;
}
.smooth-image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.smooth-image {
  transition: transform 0.3s ease;
}

.smooth-image:hover {
  transform: scale(1.05);
}
.smooth-image {
  filter: grayscale(20%);
}

.custom-row {
    border: 1px solid #333; 
    background-color: #f2f2f2; 
    border-radius: 10px; 
    padding: 20px; 
  }
  