@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

.header {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500; 
}

.day-title {
  background-color: #f8f9fa;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500; 
  border-top: 1px solid #dee2e6;

  padding: 0.75rem 1.25rem;
  position: relative;
}
.day-title:hover::after {
  content: "Click to add an exercise!";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); 
  background-color: #f8f9fa; 
  border: 1px solid #dee2e6;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap; 
}

.exercise-item {
  padding: 0.25rem 1.25rem;
}

.exercise-name {
  font-weight: bold;
}

.exercise-description {
  font-size: 0.9em;
  margin-left: 5px;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;  
  width: 70%;
  margin: 0 auto;
}

.program-card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
}

.program-card:hover {
  transform: translateY(-5px);
}

.program-card .card-title {
  font-size: 1.5em;
  margin-bottom: 16px; 
}

.program-card .card-text {
  font-size: 1em; 
  margin-bottom: 24px; 
  font-family: 'Noto+Sans', sans-serif;
  font-weight: 500; 
}

.secondary-button {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #333;
  transition: background-color 0.2s;
}

.secondary-button:hover {
  background-color: #e2e6ea;
}

.program-card .btn {
  margin-right: 12px;
  margin-bottom: 8px;
}

.day-custom {
  max-width: 55%;

  
}
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collapsed-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.card-title-program {
  font-family: 'Oswald', sans-serif;
  font-weight: 500; 
}